.w-slider-dot,
.swiper-pagination-bullet {
  width: 16rem !important;
  height: 16rem !important;
  cursor: pointer;
  background-color: transparent;
  margin: 0rem !important;
  transition: background-color 0.1s, color 0.1s;
  display: inline-block;
  position: relative;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.w-slider-dot .w-active,
.swiper-pagination-bullet-active {
  background-color: white !important;
}

@media screen and (max-width: 767px) {
  .w-slider-dot,
  .swiper-pagination-bullet {
    width: 8rem !important;
    height: 8rem !important;
  }
}
