.w-slider-dot,
.swiper-pagination-bullet {
  width: 16rem !important;
  height: 16rem !important;
  cursor: pointer;
  background-color: transparent;
  margin: 0rem !important;
  transition: background-color 0.1s, color 0.1s;
  display: inline-block;
  position: relative;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 500rem;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 8rem;
  align-items: center;
  height: 80rem;
  margin-top: 24rem;
  margin-bottom: 24rem;
  width: 100vw;
}

.is--testimonial-slider .swiper-pagination {
  margin-bottom: 0rem;
  margin-top: 40rem;
}

.w-slider-dot .w-active,
.swiper-pagination-bullet-active {
  background-color: white !important;
}

@media screen and (max-width: 767px) {
  .w-slider-dot,
  .swiper-pagination-bullet {
    width: 8rem !important;
    height: 8rem !important;
  }
}
