.main-wrapper {
  opacity: 0;
}

.splide {
  outline: none;
  position: relative;
  visibility: visible;
}

.splide__track {
  overflow: visible;
}

.splide__slide {
  align-self: stretch;
}

.w-richtext figure.w-richtext-align-fullwidth > div {
  padding-bottom: inherit;
  display: block;
}

/* Override autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: currentColor;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* Adjust for your desired background color. The above uses 'white'. */

.is--clicked {
  color: black;
}
