.main-wrapper {
  opacity: 0;
}

.splide__track {
  overflow: visible;
}

.splide__slide {
  align-self: stretch;
}

.w-richtext figure.w-richtext-align-fullwidth > div {
  padding-bottom: inherit;
  display: block;
}
